@{
    ViewBag.Title = "ViewFormulario";
    Layout = "~/Views/_LayoutFormulario.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <h2>ViewFormulario</h2>
    <div id="buttons"></div>
    <div id="content"></div>
</body>



</html>



