<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prime Web</title>

    <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>
    <!-- Fonts  -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css"/>
    <link rel="stylesheet" href="~/Content/simple-line-icons.css"/>
    <!-- CSS Animate -->
    <link rel="stylesheet" href="~/Content/animate.css"/>
    <!-- Custom styles for this theme -->
    <link rel="stylesheet" href="~/Content/styles-menu.css"/>
    <!-- Feature detection -->
    <script src="~/scripts/modernizr-2.6.2.min.js"></script>
    <link rel="stylesheet" href="~/Content/styles-reportes.css" />
    <script src="~/scripts/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Styles/sweetalert.css"/>


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
     <script src="/bundles/ie?v=2XveJ5PauxD4hKrKMGJAy98WTe1yUixdEmsfBq9sjeQ1"></script>

     <![endif]-->

</head>
<body>
    @{
        List<Prime_Web.Models.Dimension> dim = new List<Prime_Web.Models.Dimension>();
        if (System.Web.HttpContext.Current.Session["dimensiones"] != null)
        {
            dim = (List<Prime_Web.Models.Dimension>)System.Web.HttpContext.Current.Session["dimensiones"];
        }
    }
    <!-- Page Wrapper-->
    <section id="main-wrapper" class="theme-default">
        <aside class="sidebar sidebar-left">

            <nav>
                <h5 class="sidebar-header">Menú</h5>
                <ul class="nav nav-pills nav-stacked">
                    @*<li><a href="#" title="Menú"><i class='fa  fa-fw fa-list-alt'></i>Menú</a>*@
                    @Html.Raw(ViewBag.Menu)
                    @*</li>*@
                </ul>
            </nav>
        </aside>
    </section>
    <script src="~/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.navgoco.min.js"></script>
    <script src="~/scripts/app.js"></script>
</body>
</html>
